#TopContent {
	margin-top: -85px;
    background-color:#333333;
}

    .hero-div
    {
        position: relative;
        background-image: url(/Portals/FBA/images/INS/Product_Pages/motorcycle-header-1400.png);
        background-position: center;
        margin: 0 auto 0 auto;
        background-repeat: no-repeat;
        height: 400px;
        width: auto;
        background-size: cover;
        /*display: flex;*/
    }

    .slogan-div
    {
        position: absolute;
        top: 80%;
        -moz-transform: translateY(-80%);
        -ms-transform: translateY(-80%);
        -o-transform: translateY(-80%);
        -webkit-transform: translateY(-80%);
        transform: translateY(-80%);
        margin-top: 25px; /* vertical center - add back some negative margin from the outer div*/
        background-color: rgba(255,255,255, .85);
        display: inline-block;
        padding: 5px 25px 25px 25px;
        border: solid 1px #fff;
        border-left: 0;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
    }

    .vfb-breadcrumb
    {
        display: none;
    }

    .slogan-div h1
    {
        margin-top: 20px;
        margin-bottom: 10px;
    }


    @media (max-width: 900px)
    {
        .hero-div
        {
            background-image: url(/Portals/FBA/images/INS/Product_Pages/motorcycle-header-900.png);
            height: 400px;
        }


    @media (max-width: 400px)
    {
        .hero-div
        {
            background-image: url(/Portals/FBA/images/INS/Product_Pages/motorcycle-header-400.png);
            height: 400px;
        }

